@model IEnumerable<EduHub.Application.DTOs.Course.CourseDTO>;     
@using System.Globalization
@using EduHub.Domain.Constants


<div class="d-flex justify-content-center justify-content-md-start justify-content-lg-start flex-wrap g-1">
    @foreach (var course in Model)
    {
        <div class="content p-4 m-5">
        <h4>Course name: @course.Name</h4>
        <div>Description: @course.Description</div>
         <a class="teacher-link" asp-controller="Profile" asp-action="TeacherProfile" asp-route-id="@course?.Teacher?.Id">Teacher: @course?.Teacher?.FirstName  @course?.Teacher?.LastName</a>

        <div>Created at: @course.CreatedAt.ToString("dd/MM yyyy")</div>

        @if (User.IsInRole(RoleConstants.StudentRole))
        {
                @if (@course?.Password == null)
                {
                    <a class="btn btn-dark align-self-center px-5 rounded-sm text-center " asp-controller="Course" asp-action="AddCourseToStudentWithoutPassword" asp-route-courseId="@course.Id"> Enroll now</a>
                }
                else
                {
                    <button type="button" class="btn btn-dark align-self-center px-5 rounded-sm text-center" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@course.Id">Enroll now</button>
                }
        }

     </div>
    }
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter password to enroll</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="password" class="col-form-label">Password: </label>
            <input type="text" class="form-control" id="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="sendRequest()">Sent</button>
      </div>
    </div>
  </div>
</div>


<script>
    var exampleModal = document.getElementById('exampleModal')
    var courseId;
    exampleModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var recipient = button.getAttribute('data-bs-whatever')
        courseId = recipient;
        var modalBodyInput = exampleModal.querySelector('.modal-body input')
    })

    function sendRequest() {
        var inputVal = document.getElementById("password").value;

        var queryParams = "?password=" + inputVal;
        queryParams += "&courseId=" + courseId;

        window.location.href = "/Course/AddStudentToCourse" + queryParams;
    }
</script>