@model EduHub.UI.ViewModels.Teacher.EditCourseVM;

<div class="m-1 d-flex flex-wrap gap-2">
    <div class="courses-sidebar">
        <h3>My courses</h3>
        <a class="add-course" method="post" asp-controller="Course" asp-action="AddCourse"><i class="bi bi-plus-circle"></i> Add course</a>
        @foreach (var course in Model.Courses)
        {
            if(Model.EditCourse?.Id == course.Id)
            {
                 <a class="side-title-course active-link-sidebar" asp-controller="Course" asp-action="Course" asp-route-id="@course.Id">
                    <i class="bi bi-chevron-right">Edit: </i>@course.Name
                </a>
            }
            else
            {
                <a class="side-title-course" asp-controller="Course" asp-action="Course" asp-route-id="@course.Id">
                    <i class="bi bi-chevron-right"></i>@course.Name
                </a>
            }
        }

    </div>

    <div class="content p-4">
              
<form method="post" asp-controller="Course" asp-action="EditCourse" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-start p-1">
        <h5> Edit course</h5>

         <input asp-for="EditCourse.Id" value="@Model.EditCourse.Id" hidden/>

        <div>
            <label asp-for="EditCourse.Name" class="text-secondary fs-6">Name</label><br/>
            <input asp-for="EditCourse.Name" value="@Model.EditCourse.Name"  class="form-control" style="width: 300px"/>
            <span asp-validation-for="EditCourse.Name" class="text-danger fs-6"></span>
        </div>
        <div>
            <label asp-for="EditCourse.Description" class="text-secondary fs-6">Description</label><br/>
            <input asp-for="EditCourse.Description" value="@Model.EditCourse.Description"  class="form-control" style="width: 300px"/>
            <span asp-validation-for="EditCourse.Description" class="text-danger fs-6"></span>
        </div>
        <div>
            <label asp-for="EditCourse.Password" class="text-secondary fs-6">Password</label><br/>
            <input asp-for="EditCourse.Password" value="@Model.EditCourse.Password"  class="form-control" style="width: 300px"/>
            <span asp-validation-for="EditCourse.Password" class="text-danger fs-6"></span>
        </div>

        <br/>
          <div asp-validation-summary="ModelOnly"></div>
        <br/>

        <div class="align-self-center mb-2">
            <input type="submit" value="Edit" class="btn btn-dark align-self-center px-5 rounded-sm text-center"/>
        </div>
    </div>
</form>

     </div>

</div>

