@model EduHub.Application.DTOs.User.UserDTO
@using System.Globalization
@using EduHub.Domain.Constants

<div class="content p-4 " >
    <div class="d-flex g-3 flex-wrap">
         @if (Model.UserImgUrl != null)
         {
             <img style='width: 200px; height: 200px; border-radius: 100%; object-fit: cover;' src="@Model.UserImgUrl"/>
         }
         else
         {
             <img style='width: 200px; height: 200px; border-radius: 100%; object-fit: cover;' src="https://eduhubstorage.blob.core.windows.net/eduhubphoto/a70f700e-c6b7-4d72-8f2b-39b8a41b8368.jpg"/>
         }
         <div class="m-3">
             <h4>Name: @Model.FirstName @Model.LastName</h4>
             <h4>Username: @Model.UserName</h4>
             <h5>Email: @Model.Email</h5>
             <div>About me: @Model.AboutMe</div>
         </div>
    </div>
        
     
        <h4 class="m-2">Student courses: </h4>
        <div class="d-flex gap-5 flex-wrap">
        @foreach (var course in Model?.StudentCourses)
        {
            <div class="card m-1">
                <div class="card-body">
                     <h4>Course name: @course.Name</h4>
                     <div>Description: @course.Description</div>
                    <div>Created at: @course.CreatedAt.ToString("G",CultureInfo.GetCultureInfo("de-DE"))</div>
                </div>
            </div>
        }
        </div>

         <h4 class="m-2">Student test results: </h4>
        <div class="d-flex gap-5 flex-wrap">
        @foreach (var res in Model?.TestResults)
        {
            <div class="card w-25 m-1">
                <div class="card-body">
                     <h4>Test name: @res?.Test?.Name</h4>
                     <h6>Teacher: @res?.Test?.Teacher?.FirstName @res?.Test?.Teacher?.LastName</h6>
                      <p class="card-text">Percentage: @res?.PercentageCorrrectAnswers%</p>
                    <div class="card-text">Points: @res?.SumPoints/@res?.Test?.Questions?.Sum(x => x?.Points)</div>
                </div>
            </div>
        }
        </div>
</div>