@using EduHub.Domain.Constants
@model EduHub.Application.DTOs.User.UserDTO;

 <div class="content p-4 m-5">
         <div class="d-flex g-3 flex-wrap">
         @if (Model.UserImgUrl != null)
         {
             <img style='width: 200px; height: 200px; border-radius: 100%; object-fit: cover;' src="@Model.UserImgUrl"/>
         }
         else
         {
             <img style='width: 200px; height: 200px; border-radius: 100%; object-fit: cover;' src="https://eduhubstorage.blob.core.windows.net/eduhubphoto/a70f700e-c6b7-4d72-8f2b-39b8a41b8368.jpg"/>
         }
         <div class="m-3">
             <h4>Name: @Model.FirstName @Model.LastName</h4>
              <h4>Username: @Model.UserName</h4>
              <h5>Email: @Model.Email</h5>
              <h6>Registered at: @Model.RegisterTime.ToString("dd/MM yyyy")</h6>
              <div>About me: @Model.AboutMe</div>    
         </div>
         </div>
        <div class="d-flex gap-2 flex-wrap mt-4">
<a asp-controller="Profile" asp-action="EditProfile" class="btn btn-success">Edit profile</a>
<a asp-controller="Profile" asp-action="ChangePhoto" class="btn btn-success">Change Photo</a>
<a asp-controller="Profile" asp-action="ChangePassword" class="btn btn-dark">Change Password</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="ShowModal()">
                Delete my account
</button>
   
        </div>
      
    @if (User.IsInRole(RoleConstants.StudentRole))
    {
        <a asp-controller="Profile" asp-action="BecomeTeacher" class="btn btn-primary mt-4">I'm a teacher</a>
    }
   </div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete my account</h5>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModal()">Close</button>
                <a class="btn btn-danger" asp-controller="Profile" asp-action="DeleteAccount">Delete</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowModal() {
        $("#deleteModal").modal('show');
    }
    function CloseModal() {
        $("#deleteModal").modal('hide');
    }
</script>