@using EduHub.Domain.Constants
@model EduHub.Application.DTOs.User.UserDTO;

<table class="table">
    <tr>
        <th></th>
        <th>UserName</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Registered at</th>
    </tr>
    <tr>
        <td style="width: 5%">
            @if (Model.UserImgUrl != null)
            {
                <img style='width: 200px; height: auto;' src="@Model.UserImgUrl"/>
            }
            else
            {
                <img style='width: 200px; height: auto;' src="https://localhost:7056/AppFiles/images/base-user-icon.jpg"/>
            }
        </td>
        <td>@Model.UserName</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Email</td>
        <td>@Model.RegisterTime.ToString("dd/MM yyyy")</td>
    </tr>
    <tr>
        <td>
            <h6> About Me:</h6> @Model.AboutMe
        </td>
    </tr>
    <tr>
        <td>
            <a asp-controller="Profile" asp-action="EditProfile" class="btn btn-secondary">Edit profile</a>
        </td>
        <td>
            <a asp-controller="Profile" asp-action="ChangePhoto" class="btn btn-secondary">Change Photo</a>
        </td>
        <td>
            <a asp-controller="Profile" asp-action="ChangePassword" class="btn btn-warning">Change Password</a>
        </td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="ShowModal()">
                Delete my account
            </button>
        </td>
    </tr>
    @if (User.IsInRole(RoleConstants.StudentRole))
    {
        <tr>
            <td>
                <a asp-controller="Profile" asp-action="BecomeTeacher" class="btn btn-primary">I'm a teacher</a>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete my account</h5>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModal()">Close</button>
                <a class="btn btn-danger" asp-controller="Profile" asp-action="DeleteAccount">Delete</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowModal() {
        $("#deleteModal").modal('show');
    }
    function CloseModal() {
        $("#deleteModal").modal('hide');
    }
</script>