@using System.Globalization
@model EduHub.UI.ViewModels.Test.TestVM;

<div class="m-3 d-flex flex-wrap gap-2">
    <div class="courses-sidebar">
        <h3>My courses</h3>
        <a class="add-course" method="post" asp-controller="Course" asp-action="AddCourse"><i class="bi bi-plus-circle"></i> Add course</a>
        @foreach (var course in Model.Courses)
        {
            if(Model.Test?.CourseId == course.Id)
            {
                 <a class="side-title-course active-link-sidebar" asp-controller="Course" asp-action="Course" asp-route-id="@course.Id">
                    <i class="bi bi-chevron-right"></i>@course.Name
                </a>
            }
            else
            {
                <a class="side-title-course" asp-controller="Course" asp-action="Course" asp-route-id="@course.Id">
                    <i class="bi bi-chevron-right"></i>@course.Name
                </a>
            }
        }

    </div>

    <div class="content p-4">
        <h4>Test name: @Model.Test?.Name</h4>
        <div>Description: @Model.Test?.Description</div>
         <div class="card-text">Start at:  @Model.Test?.StartTime.ToString("G",CultureInfo.GetCultureInfo("de-DE"))</div>
         <div class="card-text">End at:  @Model.Test?.EndTime.ToString("G",CultureInfo.GetCultureInfo("de-DE"))</div>
         <div class="card-text">Duration:  @Model.Test?.DurationMinutes</div>
         <a asp-controller="Test" asp-action="EditTest" asp-route-id=" @Model.Test?.Id" class="btn btn-secondary">Edit test</a>

        <h5>Test Questions: </h5>
        <a asp-controller="Test" asp-action="AddQuestion" asp-route-id="@Model.Test?.Id" class="btn btn-secondary"><i class="bi bi-plus-circle"></i>  Add question</a>
 
        @foreach (var question in Model.Test?.Questions)
        {
            <div class="card w-100 m-1">
                <div class="card-body">
                    <h5 class="card-title">@question.QuestionContent</h5>
                    <p class="card-text">Type: @question.Type.ToString()</p>
                    <div class="card-text">Points: @question.Points</div>
                     <div class="d-flex gap-4">
                        <a asp-controller="Test" asp-action="EditQuestion" asp-route-id=" @question.Id" class="btn btn-success">Edit</a>
                        <a asp-controller="Test" asp-action="DeleteQuestion" asp-route-id=" @question.Id" asp-route-testId="@Model.Test?.Id" class="btn btn-danger">Delete</a>
                    </div>
                   
                    <a asp-controller="Test" asp-action="AddAnswer" asp-route-questionId="@question.Id"  asp-route-Id="@Model.Test?.Id" class="btn btn-success m-1">Add answer</a>

                   
                    @foreach(var answer in question?.Answers)
                    {
                    @if (@answer.IsCorrect)
                    {
                        <div class="d-flex gap-4 m-3 align-items-center bg-success text-white p-2 rounded">
                        <div>
                            @answer.Content
                        </div>
                         <a asp-controller="Test" asp-action="DeleteAnswer" asp-route-id="@answer.Id" asp-route-testId="@Model.Test?.Id" class="btn btn-danger"><i class="bi bi-trash"></i></a>

                        </div>
                    }
                    else
                    {
                         <div class="d-flex gap-4 m-3 align-items-center p-2 rounded">
                        <div>
                            @answer.Content
                        </div>
                         <a asp-controller="Test" asp-action="DeleteAnswer" asp-route-id="@answer.Id" asp-route-testId="@Model.Test?.Id" class="btn btn-danger"><i class="bi bi-trash"></i></a>

                    </div>
                    }
               
                    }
                  
                </div>
            </div>
        }
     </div>

</div>

